.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}


.custom-color {
    background-color: #F8F1E5;
}

nav .navbar-nav li a{
  color: #674C2C !important;
  }


.hero {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    background-image: url("./images/bookscover.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.hero2 {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    background-image: url("./images/hero2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
  position: relative;
  color: #674C2C;
  width: 50%;
  padding-left: 5%;
  padding-top: 15%;
}

.signup {
  height: 60vh;
  width: 35%;
  margin-top: 8%;
  margin-left: 5%;
  position: relative;
  display: inline;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

.signup h1 {
  opacity: 100%;
}

.signup h3, .signup h4 {
  text-align: left;
  font-size: 0.8em;
  font-weight: 600;
  padding-left: 5%;
  margin-left: 20%;
}

.login_button {
  background-color: #674C2C;
  color: white;
  font-weight: 500;
  padding: 2%;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 10px;
  border: none;
}

.signup h4 {
  margin-top: 1%;
  margin-left: 20%;
}

.login_button:hover, .signup h4:hover, .signup a:hover {
  opacity: 60%;
  cursor: pointer;
  text-decoration: none;
}

#login:hover {
  opacity: 100%;
  color: #674C2C;
}


.line {
  width: 50%;
  height: 2px;
  border-width: 2px;
  margin-top: 0;
  margin-bottom: 5%;
}

#signup, #login {
  font-size: 14px;
  color: #674C2C;
  text-decoration: none;
}


.main a {
  color: #674C2C;
  text-decoration: underline;
}

.main a:hover {
  font-weight: 400;
  color: #674C2C;
  text-decoration: underline;
}

.main h2, .main h3 {
  font-weight: 300;
  font-size: 1.5em;
}

.main h3 {
  font-size: 1em;
}

.lists, .footer {
  background-color: #F8F1E5;
}

.hero2_text h1, .hero2_text2 h1 {
  font-size: 1.5em;
  color: #674C2C;
  text-align: center;
}

.hero2_text h2, .hero2_text2 h2 {
  font-size: 1em;
  text-align: center;
}

.hero2_text {
  background-color: #F8F1E5;
  height: 35%;
  margin-left: 60%;
  margin-top: 10vh;
  margin-right: 10%;
  border-radius: 25px;
  padding: 20px;
  width: 30%;
}

.hero2_text2 {
  background-color: #F8F1E5;
  height: 35%;
  margin-top: 45vh;
  margin-right: 10%;
  margin-left: -50%;
  border-radius: 25px;
  padding: 20px;
  width: 30%;
}

.list_grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  margin-left: 5%;
  grid-column-gap: 10%;
  text-align: center;
  padding-bottom: 10%;
}

input[type=text] {
  background-color: white;
  width: 170px;
  border-radius: 10px;
  border: 1px solid #9B784E;
  height: 30px;
  margin-top: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #674C2C;
  size: 12px;
  opacity: 1; /* Firefox */
}

:placeholder-shown {
  font-size: 12px;
  font-weight: 500;
}

.lists img {
  width: 100%;
  border-radius: 20px;
  margin: auto;
  padding-bottom: 1%;
}
.item:hover {
  opacity: 50%;
  cursor: pointer;
}
.lists h1 {
  font-size: 1.2em;
  color: #674C2C;
  padding: 5%;
  padding-bottom: 2%;
}
.lists h2 {
  font-size: 1em;
  color: #674C2C;
  line-height: 25px;
}

.lists h3 {
  font-size: 0.8em;
}

.columns {
  display: grid;
  grid-template-columns: 20% 20% 60%;
}

.footer em {
  font-style: normal;
  font-weight: 600;
}

.footer {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 0.8em;
}

.fa {
  margin: 5px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 2px;
}

.fa:hover {
  color:white;
}
.popup {
  z-index: 2;
  background: white;
  text-align: center;
  padding: 20px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  border-radius: 10px;
  visibility: hidden;
}

@media screen and (max-width:800px) {
  .popup {
    visibility: visible;
  }
  .page {
    opacity: 50%;
  }
}
