html {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

em {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}


.subheading h1{
  color: #838383;
  font-family: 'Work-Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
}

.subheading {
  padding-bottom: 2%;
}

.button1 {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  font-family: 'Avenir';
  font-weight: 500;
  background-color: white;
}

.button1:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* navigation */

.navbar-toggler {
  border-color: transparent;
  transition: none;
}

.navbar-brand {
  font-family: 'Work-Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.nav-item a {
  color: #949494;
  font-family: 'Work-Sans', sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-right: 2%;
}

.nav-item a:hover {
  text-decoration: none;
  animation: turn-pink 0.8s none;
  color: #df5d5c;
}

.active a {
  color: #df5d5c;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Main page intro section */
.intro {
  margin-top: 10%;
  height: 50vh;
}


.intro h1, .about_intro h1 {
  color: #838383;
  font-family: 'Work-Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 2%;
  font-weight: 600;
}
.intro h2, .about_intro h2 {
  color: #232324;
  font-family: 'Work-Sans', sans-serif;
  font-weight: 600;
  font-size: 5em;
  margin-top: 0;
}

.intro #billie {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ffffff;
}

#billie:hover {
  animation: pink-fill 0.8s forwards;
  -webkit-text-stroke-width: 0px;
}

/* Home page projects */
.projects {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row-gap: 20%;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 5%;
}

.project_image img {
  width: 70%;
  margin-left: 20%;
}

.project_description {
  line-height: 2px;
}

.project_description h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  color: #272727;
}
.project_description h2, h3 {
  font-family: work-sans, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}

.project_description h3 {
  line-height: 1.6;
}

.project_description a {
  text-decoration: none;
  color: #df5d5c;
}

.projects a:hover, .grid-container a:hover, .project_description a:hover {
  text-decoration: none;
  color: #df5d5c;
  animation: down-opacity 1s forwards;
}


/* About page photos */
section {
  display: grid;
  grid-template-columns: 60% 30%;
  align-items: top;
  height: 80vh;
}


h1 {
  font-family: 'Roboto', sans-serif;
	font-size: 2em;
  line-height: 1.2;
}

p {
  font-family: 'work-sans', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6;
}

a.button {
  display: inline-block;
  background-color: #df5d5c;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

div.slides {
  height: 475px;
  position: relative;
}


.about_image img {
  width: 100%;
  border-radius: 15px;
  vertical-align: middle;
}

div.slides img, div.slides2 img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.slides img:first-child {
  z-index: 1;
}

div.slides:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* about page bio */
.bio {
  padding-top: 2%;
  width: 80%;
  line-height: 1.5;
  font-size: 1em;
  font-weight: 400;
}

/* Footer */
footer {
  color: #232324;
  font-family: 'Work-sans', sans-serif;
  width: 100%;
  background-color: whitesmoke;
  padding: 1%;
  padding-top: 3%;
  padding-bottom: 2%;

  display: block;
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
}

/* footer a {
  color: dimgrey;
  font-family: 'Work-sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
} */
footer a {
  color: #949494;
  font-family: 'Work-Sans', sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-right: 1%;
}

footer a:hover {
  text-decoration: none;
  animation: turn-pink 0.8s none;
  color: #df5d5c;
}
footer h1 {
    font-family: 'Work-Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

footer h2 {
    font-family: 'Work-Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: #949494;
}

footer h3 {
  letter-spacing: 1px;
  color: darkgrey;
  line-height: 24px;
}

/* footer h2 {
  color: dimgrey;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
} */

footer h4 {
  color: darkgrey;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
}

.footer_columns {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-top: 2%;
  padding-bottom: 2%;
}


/* case study */
.loaded {
  animation: fade-in 2s forwards;
}

.loading {
  animation: fade-out 1s forwards;
}

.casestudy1 {
  padding: 2% 0;
}

.casestudy h1{
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #272727;
}
.casestudy1 h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #272727;
}

.casestudy1 h2 {
  font-size: 16px;
  font-family: work-sans;
  font-weight: 600;
  color: #272727;
}

.casestudy h2 {
  font-size: 20px;
  font-family: work-sans;
  font-weight: 600;
  color: #272727;
}

.casestudy h3, .casestudy1 h3 {
  font-size: 18px;
  font-family: work-sans;
}

.casestudy h4, .casestudy1 h4 {
  font-size: 16px;
  font-family: work-sans;
  font-weight: 400;
  color: #272727;
}

.casestudy p, .casestudy1 p {
  font-family: 'work-sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.header_image {
  width: 100%;
  margin: auto;
  padding-bottom: 5%;
}

.header_image img {
  width: 100%;
}

.casestudy_heading {
  text-align: center;
  padding: 2%;
}

.casestudy_heading h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
}

.casestudy_heading h2 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
}

.casestudy_heading h3 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
}

.casestudy {
  font-family: 'Avenir', sans-serif;
  color: black;
  text-align:left;
  width:40%;
  margin:auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.casestudy img {
  width:100%;
  padding:1%;
}

.casestudy_img {
  width: 60%;
  margin: auto;
}



.casestudy_img h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  font-size: 0.8em;
  font-weight: 400;
  color: grey;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

ul {
  position: absolute;
}

.sidebyside {
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.sidebyside2 {
  align-items: center;
  background: white;
  padding: 2%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sidebyside2 img {
  width: 80%;
}


.sidebyside img {
  width: 100%;
}

.two_columns {
  display: grid;
  grid-template-columns: 50% 30%;
  grid-column-gap: 5%;
  margin-left: 25%;
  text-align: left;
}


/* smaller breakpoint */
@media screen and (max-width:750px) {

  .casestudy1, .sidebyside {
    padding-left: 2%;
    padding-right: 2%;
  }



  ul {
    position: relative;
  }

  .intro {
    font-size: 0.5em;
    height: 40vh;
  }

  .about_intro h2 {
    font-size: 2.5em;
  }


  .footer_columns {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    padding-left: 0;
    margin-left: 0;
  }

  section {
    display: grid;
    grid-template-columns: 100%;
    align-items: top;
    height: 80vh;
  }

  /* Home page projects */
  .project_description {
    line-height: 1px;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  .projects {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 0;
    align-items: center;
  }

  .project_image img {
    width: 100%;
    margin-left: 0;
  }



}

/* Animation */
@keyframes pink-fill {
  0% {
    color: #ffffff;
  }
  100% {
    color: #df5d5c;
  }
}
@keyframes down-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes turn-pink {
  0% {
    color: #838383;
  }
  100% {
    color: #df5d5c;
  }
}
