@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

body {
  visibility: hidden;
  background-color: whitesmoke;
}
html {
  overflow-x: hidden;
}


.first {
  height:80vh;
}

.work a {
  visibility: visible;
  color: darkslategrey;
  font-family: 'Arapey', sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-left: 15%;
}

.work:hover {
  animation: bounce 1s forwards;
  -moz-animation-name: bounce;
}

#menuToggle
{
  visibility: hidden;
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: whitesmoke;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

#menu a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#menu a.active {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #df5d5c;
}

#menu a:hover {
  color: #df5d5c;
  transition: color 0.3s ease;
}

.intro {
  width: 60%;
  margin-left: 15%;
  margin-top: 15%;
}

.intro h1 {
  color: darkslategrey;
  font-family: 'Arapey', serif;
  font-size: 1.5em;
  margin-bottom: 2%;
  font-weight: 300;
}
.intro h2 {
  color: darkslategrey;
  font-family: 'Arapey', sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin-top: 0;
}

.intro a {
  font-style: normal;
  color: black;
}

.about {
  margin-left: 75%;
  margin-top: 40px;
  width: 100%;
}

.about a {
  color:darkslategrey;
  font-family: 'Helvetica', sans-serif;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
  padding-right: 2%;
}

.about a:hover, .intro a:hover {
  text-decoration: none;
  animation: turn-pink 0.8s forwards;
}

.link {
  height: 65vh;
  display: inline-flex;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  transform: rotate(-90deg);
}
.link__arrow {
  display: inline-flex;
}
.link__arrow span {
  position: relative;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  overflow: hidden;
  background: #BEBDBE;
  z-index: 2;
}
.link__arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}
.link__arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.link__arrow span:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #df5d5c;
}
.link__line {
  position: relative;
  margin-left: -14px;
  margin-right: 30px;
  width: 80px;
  height: 2px;
  background: #BEBDBE;
  overflow: hidden;
  z-index: 1;
}
.link__line:after {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  width: 70px;
  height: 2px;
  background: #df5d5c;
}
.link__text {
  opacity: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.link:hover .link__line:after {
  animation: animation-line 1s forwards;
}
.link:hover .link__arrow span:after {
  animation: animation-arrow 1s forwards;
  animation-delay: 0.5s;
}
.link:hover .link__text {
  text-decoration: none;
  animation: fade-in 1s forwards;
}

.loaded {
  animation: fade-in 2s forwards;
}

.loading {
  animation: fade-out 1s forwards;
}


@keyframes animation-line {
  0% {
    left: 80px;
  }
  100% {
    left: 0;
  }
}
@keyframes animation-arrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes turn-pink {
  0% {
    color: darkslategrey;
  }
  100% {
    color: #df5d5c;
  }
}
@keyframes down-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes up-opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
	0%, 100%, 20%, 60%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	50% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

hr.line {
  border-top: 0.5px solid white;
  margin: 5%;
  margin-top: 5%;
  opacity: 0%;
}

.final_walkthrough {
  overflow: auto;
  padding-top: 2%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 40% 40%;
  padding-left: 25%;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.final_gif img {
  width: 50%;
}

.final_description h3, .final_description h1 {
  font-size: 1em;
  font-weight: 400;
  line-height: 25px;
}

.final_description h1 {
  font-weight: 600;
  letter-spacing: 1px;
}

.projects {
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 60% 30%;
  padding-left: 5%;
  grid-row-gap: 20%;
  color: darkslategrey;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  height: 80vh;
  background-color: whitesmoke;
}

.extra_projects {
  padding-top: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  padding-left: 15%;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.project_image img {
  width: 70%;
  margin-left: 20%;
}

.extra_project_image img {
  width: 70%;
}

.project_description {
  line-height: 2px;
}

.project_description h1 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Arapey';
  letter-spacing: 1px;
}
.project_description h2 {
  font-size: 0.8em;
  font-weight: 800;
}

.project_description h3 {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 16px;
}

.project_description a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #df5d5c;
}

.projects img:hover, .grid-container a:hover {
  text-decoration: none;
  color: #df5d5c;
  animation: down-opacity 1s forwards;
}

#viewbutton {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #df5d5c;
  color: #df5d5c;
  padding: 10px 15px;
  cursor: pointer;
}

#viewbutton:hover {
  background-color: #df5d5c;
  color: white;
}

.close, .close2 {
  position: fixed;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  z-index: 2;
}

.close:hover, .close2:hover {
  animation: up-opacity 1s forwards;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before, .close2:before {
  transform: rotate(45deg);
}
.close:after, .close2:after {
  transform: rotate(-45deg);
}

.close2:before, .close2:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

.header_image {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.header_image img {
  width: 100%;
}

.casestudy {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align:left;
}

.casestudy h1, .casestudy h2, .casestudy h3, .casestudy h4, .casestudy h5{
  width:50%;
  margin:auto;
}

.casestudy img {
  width:100%;
  padding:1%;
}

.casestudy_img {
  width: 60%;
  margin: auto;
}

.casestudy h1, .two_columns h1 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
}

.casestudy h2, .two_columns h2 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
}

.casestudy h3, .two_columns h3, .two_columns a  {
  font-size: 1em;
  font-weight: 400;
  line-height: 25px;
}

.casestudy h4, .two_columns h4 {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 0;
}

.casestudy h5 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
}

.two_columns {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 5%;
  margin-left: 25%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.button {
  text-align: center;
  padding: 2%;
}

.button1 {
  border: none;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: white;
}

.button1:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.video_demos {
  width: 80%;
  margin: auto;
  text-align: center;
}

.video_description {
  margin: auto;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
}

.video_description em, .casestudy em {
  font-size: 1em;
  font-weight: 600;
  color: black;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
}

.video_description h1 {
  font-size: 1em;
  font-weight: 400;
}

.grid-container {
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 15%;
}
.grid-container em {
  font-style: normal;
  font-size: 1.5em;
}

.next_project {
  width: 40%;
  margin: auto;
}

.next_project a:hover {
  animation: down-opacity 1s forwards;
}

.next_project img {
  width: 100%;
}

footer {
  color: darkslategrey;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.5em;
  width: 100%;
  background-color: whitesmoke;
  font-size: 8px;
  padding: 1%;
}

footer a {
  color: dimgrey;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

footer h3 {
  letter-spacing: 1px;
  color: darkgrey;
  line-height: 14px;
}

footer h2 {
  color: dimgrey;
  font-weight: 400;
  letter-spacing: 1px;
}

footer h4 {
  color: darkgrey;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
}

.footer_columns {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-left: 5%;
}


.about_page {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.about_page h1, .about_page a {
  color:darkslategrey;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 25px;
}

.about_page h2 {
  color:darkslategrey;
  font-family: 'Arapey', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 25px;
}

.about_page a {
  font-size: 1em;
}

.about_page a:hover {
  animation: turn-pink 0.8s forwards;
}

.pictures {
  display: grid;
  grid-template-columns:auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10%;
  padding-top: 2%;
}

.pictures img {
  width: 100%;
}

.two_columns a {
  color:black;
}

.two_columns a:hover {
  animation: down-opacity 1s forwards;
}


@media screen and (max-width:750px) {

  .intro h1 {
    font-size: 30px;
  }

  #menuToggle
  {
    visibility: visible;
  }

  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .casestudy_img {
    width: 100%;
  }
  .video_demos {
    width: 100%;
    margin-left: 0;
  }

  .next_project {
    width: 100%;
  }

  .project_description h3 {
    line-height: 15px;
  }

  .projects {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 80%;
    padding-left: 10%;
    grid-row-gap: 0;
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
  }

  .project_image img {
    width: 100%;
    margin-left: 0;
  }


  hr.line {
    opacity: 0;
  }

  .link {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .intro {
    width: 80%;
	margin-left: 10%;
  }

	.work a {
    margin-left: 10%;
  }

  .header_image {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .two_columns{
    grid-template-columns: 95%;
    grid-column-gap: 5%;
    margin: 5%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
  }

  .casestudy h1, .casestudy h2, .casestudy h3, .casestudy h4, .casestudy h5{
    width: 95%;
  }
  .casestudy img {
    width:100%;
  }

  .about {
    visibility: hidden;
    width:0;
  }

  .contact {
    visibility: hidden;
  }
  .about_page {
    width: 80%;
    margin: auto;
    margin-top: 15%;
  }

  .final_walkthrough {
    overflow: auto;
    padding-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 95%;
    padding-left: 5%;
    grid-column-gap: 0;
    grid-row-gap: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
  }

  .final_gif {
    text-align: center;
    width: 100%;
    padding-bottom: 10%;
  }

  .final_gif img {
    width: 40%;
  }

  .footer_columns {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    padding-left: 5%;
  }


}
