html {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}


/* desktop navigation */

.desktopNav {
  margin-left: 85%;
  margin-top: 40px;
  width: 100%;
}

.desktopNav a {
  color: #949494;
  font-family: 'Work-Sans', sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-right: 2%;
}

.desktopNav a:hover {
  text-decoration: none;
  animation: turn-pink 0.8s none;
}

.desktopNav a.active {
  color: #df5d5c;
}


/* mobile navigation */

#menuToggle
{
  visibility: hidden;
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(30deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-30deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: whitesmoke;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

#menu a {
  color: #949494;
  font-family: 'Work-Sans', sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

#menu a.active {
  color: #df5d5c;
}

#menu a:hover {
  color: #df5d5c;
  transition: color 0.3s ease;
}

/* Main page intro section */
.intro {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  height: 50vh;
}

.intro h1 {
  color: #838383;
  font-family: 'Work-Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 2%;
  font-weight: 600;
}
.intro h2 {
  color: #232324;
  font-family: 'Work-Sans', sans-serif;
  font-weight: 600;
  font-size: 5em;
  margin-top: 0;
}

.intro #billie {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ffffff;
}

#billie:hover {
  animation: pink-fill 0.8s forwards;
  -webkit-text-stroke-width: 0px;
}

/* Home page projects */
.projects {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row-gap: 20%;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 5%;
}

.project_image img {
  width: 70%;
  margin-left: 20%;
}

.project_description {
  line-height: 2px;
}

.project_description h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  color: #272727;
}
.project_description h2, h3 {
  font-family: work-sans, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}

.project_description h3 {
  line-height: 1.6;
}

.project_description a {
  text-decoration: none;
  color: #df5d5c;
}

.projects img:hover, .grid-container a:hover, .project_description a:hover {
  text-decoration: none;
  color: #df5d5c;
  animation: down-opacity 1s forwards;
}


/* About page photos */
section {
  display: grid;
  grid-template-columns: 60% 30%;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

section div {
  width: 100%;
}


h1 {
  font-family: 'Roboto', sans-serif;
	font-size: 2em;
  line-height: 1.2;
}

p {
  font-family: 'work-sans', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6;
}

a.button {
  display: inline-block;
  background-color: #df5d5c;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

div.slides {
  height: 475px;
  position: relative;
}

div.slides img, div.slides2 img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.slides img:first-child {
  z-index: 1;
}

div.slides:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* about page bio */
.bio {
  width: 80%;
  line-height: 1.5;
  font-size: 1.2em;
}

/* Footer */
footer {
  color: #232324;
  font-family: 'Work-sans', sans-serif;
  font-size: 0.5em;
  width: 100%;
  background-color: whitesmoke;
  font-size: 8px;
  padding: 1%;

  display: block;
  position: relative;
  margin-top: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer a {
  color: dimgrey;
  font-family: 'Work-sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

footer h3 {
  letter-spacing: 1px;
  color: darkgrey;
  line-height: 14px;
}

footer h2 {
  color: dimgrey;
  font-weight: 400;
  letter-spacing: 1px;
}

footer h4 {
  color: darkgrey;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
}

.footer_columns {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-left: 5%;
}


/* case study */
.loaded {
  animation: fade-in 2s forwards;
}

.loading {
  animation: fade-out 1s forwards;
}



.casestudy h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #272727;
}

.casestudy h2 {
  font-size: 20px;
  font-family: work-sans;
  font-weight: 600;
  color: #A0A0A0;
}

.casestudy h3 {
  font-size: 18px;
  font-family: work-sans;
}

.casestudy h4 {
  font-size: 16px;
  font-family: work-sans;
  font-weight: 400;
  color: #A0A0A0;
  text-transform: uppercase;
}

.casestudy p {
  font-family: 'work-sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.header_image {
  width: 100%;
  margin: auto;
}

.header_image img {
  width: 100%;
}

.casestudy_heading {
  text-align: center;
  padding: 2%;
}

.casestudy_heading h1 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
}

.casestudy_heading h2 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
}

.casestudy_heading h3 {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}

.casestudy {
  font-family: 'Avenir', sans-serif;
  color: black;
  text-align:left;
  width:50%;
  margin:auto;
}

.casestudy img {
  width:100%;
  padding:1%;
}

.casestudy_img {
  width: 60%;
  margin: auto;
}



.casestudy_img h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  font-size: 0.8em;
  font-weight: 400;
  color: grey;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* smaller breakpoint */
@media screen and (max-width:750px) {

  .desktopNav {
    visibility: hidden;
    width:0;
  }

  #menuToggle
  {
    visibility: visible;
  }

  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .intro {
    width: 90%;
    margin-left: 5%;
    font-size: 0.5em;

  }

  .footer_columns {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    padding-left: 0;
    margin-left: 0;
  }

  /* Home page projects */
  .project_description {
    line-height: 1px;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  .projects {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 0;
    align-items: center;
  }

  .project_image img {
    width: 100%;
    margin-left: 0;
  }

  section {
    display: block;
    height: auto;
    padding-bottom: 10%;
  }

  div.slides {
    display: none;
  }

  #intro {
    font-size: 1.5em;
  }

  #intro3 {
    font-size: 2em;
  }


}

/* Animation */
@keyframes pink-fill {
  0% {
    color: #ffffff;
  }
  100% {
    color: #df5d5c;
  }
}
@keyframes down-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes turn-pink {
  0% {
    color: #838383;
  }
  100% {
    color: #df5d5c;
  }
}
